@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #f3f6fb;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

// 解决使用element-ui 的table 组件 表格线条不对齐
body .el-table th.gutter {
  display: table-cell !important
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.pageBox {
  text-align: center;
  margin-top: 20px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.w100 {
  width: 100%;
}

.page-box {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

// main-container global css
.app-container {
  padding: 20px;
}

.fixed-main-container {
  height: 100%;

  .app-main {
    // height: 100%;
  }

  .app-container {
    height: 100%;
    overflow: auto;
  }
}


.fr {
  float: right;
}

.fl {
  float: left;
}


.mgl10 {
  margin-left: 10px;;
}

.mgr10 {
  margin-right: 10px;;
}
.mgt10 {
  margin-top: 10px;;
}

.mgb10 {
  margin-bottom: 10px;;
}
.mgt20{
  margin-top: 20px;
}

.red {
  color: #f56c6c;
}

.green {
  color: #5daf34;
}

.blue {
  color: #3a8ee6
}

.orange {
  color: #E6A23C;
}

blockquote, body, dd, dir, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, menu, ol, optgroup, p, pre, tbody, td, textarea, tfoot, th, thead, ul {
  margin: 0;
  padding: 0
}

ol, ul {
  list-style-type: none;
  list-style-image: none
}

a {
  text-decoration: none;
  outline: none;
}

@media screen and (min-width: 800px) {
  .w1200 {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .w1200 {
    width: 100%;
  }
}


a:active {
  background-color: transparent
}

a:active, a:hover {
  outline: 0 none
}

a:focus {
  outline: 0 none
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%
}

body {
  font-size: 14px;
  line-height: 1.8
}

body, button, input, select, textarea {
  outline: none;
  border: none;
  font-family: helvetica neue, arial, hiragino sans gb, stheiti, wenquanyi micro hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis
}

ul, ol {
  list-style-type: none;
}

button:active {

  opacity: 0.5;

}


button:hover {
  opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 22px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

hr {
  box-sizing: content-box;
  height: 0
}

mark {
  background-color: #d2e5ff;
  color: #000
}

code, kbd, pre, samp {
  font-family: monaco, menlo, consolas, courier new, courier, monospace
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto
}

q {
  quotes: none
}

q:after, q:before {
  content: '';
  content: none
}

small {
  font-size: 85.7%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th {
  text-align: left
}


img {
  border: 0 none;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}


button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle
}

button, input {
  *overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], input[disabled] {
  cursor: default
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

textarea {
  overflow: auto;
  resize: vertical
}

option:disabled:checked, select:disabled option:checked {
  color: #d2d2d2
}


input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1
}

label {
  cursor: pointer
}

select[multiple], select[size], select[size][multiple] {
  border: 1px solid #aaa;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

[draggable] {
  cursor: move
}

dialog {
  border: 1px solid;
  padding: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}

dialog::-webkit-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3)
}

dialog::backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3)
}

.form-group {
  width: 100%;
  max-width: 400px;
}

.c-danger{
  color: #f56c6c;
}
.flex_align{
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height:5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}
.tips_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 15px;
  height: 48px;
  background: rgba(61, 127, 255, 0.08);
  font-size: 14px;
  border: 1px solid rgba(61, 127, 255, 0.4);
  border-radius: 2px;
}

.tips_bar-enter-active,
.tips_bar-leave-active {
  opacity: 0;
  height: 0;
  margin-bottom: 0px;
  transition: all .3s;
}
.tips_bar-enter-to{
  opacity: 1;
  height: 48px;
  margin-bottom: 20px;
}
.tips_bar-leave-to {
  opacity: 0;
  height: 0;
  margin-bottom: 0px;
}
.pointer{
  cursor: pointer;
}
.phone_code .el-input-group__prepend{
  width: 130px;
  background-color:#ffffff;
  color: #333333;
}
.main_blue {
  color:var(--el-color-primary)
}
.font12{
  font-size: 12px;
}
.prefix_select_input{
  padding: 0px !important;;
  width: 300px;
  .el-input {
    .el-input__prefix{
      left: 1px;
    }
  }
  .el-input--default.el-input--prefix{
    &>.el-input__inner{
      padding-left: 100px;
    }
    .el-select{
      .el-input__inner{
        position: relative;
        top: 1px;
        padding-left: 10px;
        padding-right: 0px;
        height: 30px;
        border: none;
        box-shadow: none !important;
      }
      .el-input__suffix{
        top: 1px;
        right: 0px;
      }
    }
    .select_border{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: -4px;
        transform: translateY(-50%);
        width: 1px;
        height: 14px;
        background: #D9D9D9;

      }
    }
  }
  .el-input--large.el-input--prefix{
    &>.el-input__inner{
      padding-left: 100px;
    }
    .el-select{
      .el-input__inner{
        position: relative;
        top: 2px;
        padding-left: 10px;
        padding-right: 0px;
        height: 36px;
        border: none;
        box-shadow: none !important;
      }
      .el-input__suffix{
        top: 1px;
        right: 0px;
      }

    }
    .select_border{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: -4px;
        transform: translateY(-50%);
        width: 1px;
        height: 14px;
        background: #D9D9D9;

      }
    }
    .el-popper{
      padding: 0;
    }
  }
  .pop_holder {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606266;
  }
  .te_code_enum {
    padding: 5px 0;
    width: 100%;
    max-height: 300px;

    .te_code_enum_item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 10px 20px;

      &:hover {
        background-color: #f7f8fb;
      }
    }
  }

  .popover_mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
}
/*
加这个让icon颜色跟随父级;
图标不显示把svg标签上的fill:none去掉;
 */
 path { fill: inherit !important };

