// sidebar
$menuText:#888;
$menuActiveText:#409EFF;
$subMenuActiveText:rgba(64, 158, 255, .8);; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#fff;

$subMenuBg:#fff;
$subMenuHover:#fff;

$mainBg:#f3f6fb;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainBg: $mainBg;
}
