body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0 none;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

// 弹框居中
.el-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  max-height: calc(100% - 60px - 36px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .el-dialog__body {
    padding-top: 20px;
    overflow-y: auto;
    text-align: center;
  }
}

.el-pagination {
  margin-top: 10px;
  margin-left: 25%;
}
