body {
  margin: 0;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
}

.c-danger {
  color: gray;
}

.c-special {
  color: red;
  font-weight: bold;
}

.search_bar {
  text-align: left;
}

.button_bar {
  text-align: left;
  margin-bottom: 10px;
}

// 编辑器全屏
.w-e-full-screen-container {
  z-index: 9999;
}

// 文字提示
.tip-info {
  margin-left: 5px;
  font-size: 12px;
}

// 弹窗
.el-dialog__body {
  max-height: 80vh;
  overflow: auto;
  padding: 0 20px;
}

// 分页组件
.el-pagination {
  margin-top: 20px;
  justify-content: center;
}

// 表头样式
.el-table .el-table__header th.is-leaf {
  background-color: #f9f9f9;
  height: 50px;
}

.el-tree-node__content {
  height: 40px;
}

.el-divider--vertical {
  margin: 0;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}
