body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0 none;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.c-danger {
  color: gray;
}

.c-special {
  color: red;
  font-weight: bold;
}

.search_bar {
  text-align: left;
}

// 编辑器全屏
.w-e-full-screen-container {
  z-index: 9999;
}

// 文字提示
.tip-info {
  margin-left: 5px;
  font-size: 12px;
}

// 分页组件
.el-pagination {
  margin-top: 20px;
  justify-content: center;
}

// 下拉组件
.el-dropdown {
  margin-left: 10px;
}

// 弹框居中
.el-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  max-height: calc(100% - 60px - 36px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .el-dialog__body {
    padding-top: 20px;
    overflow-y: auto;
    text-align: center;
  }
}

// 滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}